@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

:root {
  --primaryColor: #174aff;
  --secodaryColor: #0077fe;
  --textColor: #111315;
  --white: #ffffff;
}

/* Basic Normalization */
html {
  font-size: calc(14px + 0.0368vw);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* Heading */
h1,
h2,
h3,
h4 {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 700;
}

/* other tags */
* {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  width: 100%;
}
